language: ruby
sudo: false
dist: xenial
rvm: 2.3
before_install:
  - gem install bundler
addons:
  ssh_known_hosts: 50.116.56.130
branches:
  only:
  - master
env:
  global:
    secure: JENkehhUN7jGOB2WPqzskksoAkRSa6R1QttVsun47FAa8oedpAfRgk5R4OsEYHHt5TpA1KURmop9SRBw3y0J65+r+kFss4CaqLrTecRB6XCWZFyiIVpGu2hjv26ShIzthzf8jnShPlaOg7CT9YzzoEZ7J5ljmyk8Wq/UAdC+ytamE78dHJKK0zSggXKmjcZEvXEg7EbCis8dqpft5EyAR13IbdGxWisyMK0UIId9JKnQiArCdvAwU477I5mm0RSJJR3HE/BUFjKj2cHsK1iViI1PNwczDdhs+aTN4bUf8LEqusUFw2H4q9eCkMZF2SYh9+OxqE8+5W2WKkKJk/AEWZVJhebt5h0yK4i2YmPOl3vTRIWlU2HtjmkYVNVB5tlTsJ33BjZuR3MWdoUmXvEVZgooAfzDlqDdksIbjJ12AN3R/A5YeUlK/fBWB3RT2TybC8iFKwq2R36rnGTNUE/c2acXXf1iDAKvuiw4WOvv8du7ZYo9iNsfHK5lXiaDRWHkFApmBmAWWmtEVC/VYL4ElE7z1XdZuIQ5mnWsBkLaWw3bINDbQcK08OacNAkMJPvXdKewJqCSpCA+1FCG1G3WempLRg4KzXstoHfkmv8futU1JBmnyfs9O0vgxBqQPFy+xl1cGmoNKx/bFWKrX/p175DNuizGUTZEk9Z1/X9gyS0=
notifications:
  slack:
    secure: K+0vcWOuC/Eb45vhyAaEUp799R8zdZDsCH9K7tr3q77MjzzKyPN4ZxUkH8QUXUtOyplKWeu3UCUhw4zCsfhYtY9QQI+hX4Iw/DaD0d+rIDdBFwucXUpSRNQ5I/xMt0UQXX/1BcNGTIFkT6zvrpyRt322ZWnZ90e5o+S1Z+SH0VKnJBVO3h6BiolMIKIxGCPg31pjb+CXIE5l6QbXv+nIIU3PtKG/1rFgGVfiW2H8UVoIS1TgvvqqZQJwDk7SUldJWkQ2zhQv2rsOOCoausHr3eQ0yH0RCKgIwqh9LT6bIrj7SXrMPIT0O9Lf+4mxk/otDjZEXZr2jmJ/woIoS3RwTdVqnbpRIqgEr7OKq1+4gBFUUYrr2K7+1CXF5Tc1jR+9S27cKRowsZqSKbZUthXzSPh8t4LTArSkKxBoF8gRKh8f+NO+WISDMGYbxA/BTXIVLw6nJhQt0uKr+/17vj/SOo9eX6YOkSbYD5yZbzWRRfK2C5b0SwfPdWl6Cbi7dJdgCcgmk067njSsJCVp9zA7thE7uiCt36Se6yq03gpqMfd4W7QoLurQ5KOTUXusJ9kzsb87Su2dBIIUe+ze+AJD2KqNzbl6+tgMMoiPjKu7/wPft3t+aBiQQTTMDmz+zf1RqJ6wk0ehJUnIvx8qGamEK2ueIc9cZ6iaNgmXdn5VgTk=
after_success:
- openssl aes-256-cbc -K $encrypted_f10450ccb48f_key -iv $encrypted_f10450ccb48f_iv
  -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa
- rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/_site/* webadmin@50.116.56.130:/var/www/probo_docs
script:
- bundle exec jekyll build
