<ul class="accordion-nav">
  <li class="accordion-nav__item search">
    <form action="/search" method="GET">
      <label for="sidebarInput">search for text</label>
      <input type="text" name="query" placeholder="Search the docs" class="accordion-nav__search-input" id="sidebarInput">
      <label for="sidebarSubmit">search</label>
      <button type="submit" class="accordion-nav__search-submit button--blue" id="sidebarSubmit">
        <i class="fa fa-search accordion-nav__search-submit-icon" aria-hidden="true"></i>
      </button>
    </form>
  </li>
  {% for parent in site.data.navigation %}
  {% if parent.title == 'Docs' %}
  {% for link in parent.children %}
    <li class="accordion-nav__item {% if link.children %}has-children is-closed{% endif %}" aria-role="presentation">
      <a class="accordion-nav__item-link" href="{% if link.url %}{{ link.url }}{% if link.url != '/' %}/{% endif %}{% else %}/{% endif %}" title="{{ link.title }}">
        {{ link.text }}
      </a>
        {% if link.children %}
          <ul class="accordion-nav__parent">
              {% for child in link.children %}
                <li class="accordion-nav__child {{ current }}" aria-role="presentation">
                  <a class="accordion-nav__child-link" href="{{ link.url }}{{ child.url }}/" title="{{ child.title }}">
                    {{ child.text }}
                  </a>
                </li>
              {% endfor %}
          </ul>
        {% endif %}
    </li>
  {% endfor %}
  {% endif %}
  {% endfor %}
</ul>
