#recipes {

  .list {
    padding: 0;

    h3 {
      color: $probo-pale;
      padding: 5px;
      background: $probo-blue-dark;
    }

    li {
      list-style: none;
      border: 2px solid $probo-pale;
      margin-bottom: 10px;

      p {
        padding: 0 5px;
      }
    }
  }

  .search {
    width: 100%;
    height: 50px;
  }
}
