.recipes {

  &__list {
    padding: 0;

    li {
      list-style: none;
      border: 2px solid $probo-pale;
      margin-bottom: $base-margin * 2;

      p {
        padding: 0 $base-margin;
      }
    }
  }

  &__name {
    color: $probo-pale;
    background: $probo-blue-dark;
    margin: 0;
    padding: $base-margin;
  }

  &__search {
    width: 100%;
    padding: $base-margin;
  }
}

// @TODO Refactor selector that is meant to remove the first margin in the body
// so that this override is not necessary.
.wrapper .body-text .recipes {
  &__recipe {
    > p {
      margin-top: 1em;
    }
  }
}
