.recipes {

  &__list {
    padding: 0;

    li {
      list-style: none;
      border: 2px solid $probo-pale;
      margin-bottom: $base-spacing;

      p {
        padding: 0 $base-spacing;
      }
    }
  }

  &__name {
    color: $probo-pale;
    background: $probo-blue-dark;
    margin: 0;
    padding-left: $base-spacing;
    padding-bottom: $base-spacing/2;
  }

  &__search {
    width: 100%;
    padding: 20px 15px;
  }
}
