.site-content {
	@include breakpoint($bp-medium-portrait) {
		min-height: 90vh;
	}
}

.wrapper {
  #sidebar-first {
    float: none;
		display: none;

    @include breakpoint($bp-medium-portrait) {
      float: left;
    }
    ul {
      display: none;
      @include breakpoint($bp-medium-portrait) {
        display: block;
      }
    }
  }
  #sidebar-last {
    float: none;
		display: block;
    @include breakpoint($bp-medium-portrait) {
      float: right;
    }
  }
  #sidebar-last,
  #sidebar-first {
    width: 100%;
    margin-bottom: 24px;
    padding: 25px 0 0 0;
    clear: both;
    @include breakpoint($bp-medium-portrait) {
			display: block;
      padding: 0;
      width: 24%;
      max-width: 270px;
    }
  }

  .page-content {
    padding-bottom: 24px;
    width: 100%;
    float: none;
    clear: both;
    @include breakpoint($bp-medium-portrait) {
      width: 70%;
      float: right;
      clear: none;
    }
  }
}
