.site-content {
  @include breakpoint($bp-medium) {
    min-height: 90vh;
  }
}

// @TODO: add this to the styleguide
body {
  .wrapper {
    margin: 0 $base-margin * 2;

    @include breakpoint($bp-medium-landscape) {
      margin: 0 auto;
    }
  }
}

.wrapper {
  #sidebar-first {
    @include visuallyhidden;

    @include breakpoint($bp-medium) {
      @include visuallyhidden-off;

      display: block;
      clear: both;
      float: left;
      padding: 0;
      width: 24%;
      max-width: 270px;
      margin-bottom: $base-spacing * 4;
    }

    .active {
      font-weight: 600;
    }
  }

  .body-text {
    padding-bottom: 24px;
    width: 100%;
    float: none;
    clear: both;

    *:first-child {
      margin-top: 0;
    }

    @include breakpoint($bp-medium) {
      width: 70%;
      float: right;
      clear: none;
    }
  }
}
