.note {
  padding: $base-spacing;
  background-color: $probo-soft-peach;
  margin: $base-spacing * 4 -1rem;
  color: $probo-black;
  box-shadow: 3px 3px 6px $probo-pale-dark;

  p {
    margin: 0;

    + p {
      margin-top: $base-margin;
    }
  }

  + .note {
    margin-top: $base-margin;
  }
}
