.note {
  padding: $base-spacing;
  background-color: $probo-soft-peach;
  border: 2px solid $probo-soft-peach-dark;
  margin: 0 -1rem;
  color: $probo-black;

  p {
    margin: 0;

    + p {
      margin-top: $base-margin;
    }
  }

  + .note {
    margin-top: $base-margin;
  }
}
