.option-example {
  > summary {
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  i {
    margin-left: 1rem;
  }

  &[open] {
    i {
      transform: rotate(-180deg);
    }
  }

  .highlight {
    // border: 1px dashed $probo-pale-darker;
    // box-shadow: inset 1px 1px 5px 0 $probo-pale-dark;
    margin-top: 1rem;
    margin-bottom: -1.4rem;
  }
}
