.breadcrumb {
  padding-left: 0;
  padding-bottom: 24px;
  margin-bottom: 0;
  @include cf;
  li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 12px;
  }
}

h1.section-title {
  margin-bottom: 0;
}

p.subhead {
  font-size: 16px;
  padding-bottom: 24px;
  max-width: 550px !important;
}

code.highlighter-rouge {
  background: $probo-pale-medium;
}

.body-text {
  font-family: $sans-serif;
  font-weight: 100;
}
