.breadcrumb {
  @include cf;

  padding-left: 0;
  padding-bottom: 24px;
  margin-bottom: 0;

  li {
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 12px;
    text-transform: capitalize;
  }
}

h1.section-title {
  margin-bottom: 0;
}

p.subhead {
  font-size: 16px;
  padding-bottom: 24px;
  max-width: 550px !important;
}

code.highlighter-rouge {
  background: $probo-pale-medium;
}

.body-text {
  h3 {
    margin-top: 4rem;
    margin-bottom: 0;
  }

  p {
    margin: 1.5rem 0;
  }

  pre {
    margin-bottom: 0;
  }

  .striped-list {
    margin: 0 -1.5rem;
  }
}
