<ul class="breadcrumb">
  {% if page.url.size != 1 %}
    <li><a href="/">Home</a> &#187;</li>
  {% endif %}
  {% assign crumbs = page.url | split: '/' %}
  {% for crumb in crumbs offset:1 %}
    <li {% if forloop.last %}class="active"{% endif %}>
      {% unless forloop.last %}
        <a href="/{% for crumb in crumbs offset:1 limit:forloop.index %}{{crumb}}/{% endfor %}">
          {{ crumb | capitalize }}
        </a>
        &#187;
      {% else %}
        {{ crumb | capitalize }}
      {% endunless %}
    </li>
  {% endfor %}
</ul>
