<header class="header">

    <div class="header__wrapper">

      <div id="mainMenuContainer" aria-role="presentation" class="main-menu">

        <button id="mobileMenuToggle" class="main-menu__toggle">
          <span class="u-hidden">Open mobile menu</span>
        </button>
        <div class="main-menu__body">
          <ul id="mainMenu" class="accordion-nav" aria-hidden="true">
            <!-- Render a list item for each link -->
            {% for link in site.data.navigation %}
            <li class="accordion-nav__item {% if link.children %}has-children is-closed{% endif %}" aria-role="presentation">
              <a class="accordion-nav__item-link" href="{% if link.url %}{{ link.url }}{% if link.url != '/' %}/{% endif %}{% else %}#{% endif %}" title="{{ link.title }}">
                {{ link.text }}
              </a>

              <!-- If link has children, render an unordered list of child links -->
              {% if link.children %}
              <ul class="accordion-nav__parent" aria-hidden="true">
                {% for child in link.children %}
                <li class="accordion-nav__child {% if child.children %}has-children is-closed{% endif %}" aria-role="presentation">
                  <a class="accordion-nav__child-link" href="{% if child.url %}{{ child.url }}{% if link.url != '/' %}/{% endif %}{% else %}#{% endif %}" title="{{ child.title }}">
                    {{ child.text }}
                  </a>

                  <!-- If child link has children, render an unordered list of grandchildren -->
                  {% if child.children %}
                    <ul class="accordion-nav__parent" aria-hidden="true">
                      {% for grandchild in child.children %}
                      <li class="accordion-nav__child accordion-nav__grandchild {{ current }}" aria-role="presentation">
                        <a class="accordion-nav__child-link accordion-nav__grandchild-link" href="{{ child.parent_path }}{{ grandchild.url }}/" title="{{ grandchild.title }}">
                          {{ grandchild.text }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                </li>
                {% endfor %}
              </ul>
              {% endif %}

            </li>
            {% endfor %}

            <li class="accordion-nav__item login"><a href="https://app.probo.ci/" class="accordion-nav__item-link" target="_blank">Login</a></li>
          </ul>
        </div>
        <div id="overlay" aria-role="presentation" aria-hidden="true"></div>
      </div>

        <h1 class="header__title"><a class="header__title-link" href="http://probo.ci/"><span class="u-accessible">Probo.CI home page</span></a></h1>

        <ul class="header__navigation">
            {% for link in site.data.navigation %}
            {% assign current = nil %}
            {% if page.url == link.url or page.layout == link.secondary %}
            {% assign current = 'current' %}
            {% endif %}

            <li class="header__navigation-item {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %} {{ link.text }}" aria-role="presentation">
                <a class="header__navigation-link {{ current }}" href="{{ link.url }}">
                  {{ link.text }}
                </a>
            </li>
            {% endfor %}

            <li class="header__navigation-item" aria-role="presentation">
                <a href="https://app.probo.ci/" class="header__navigation-link login" target="_blank">Login</a>
            </li>
        </ul>

    </div>

</header>
