<form class="search__container">
  <div class="search__input-container">
    <label for="searchInput">search for text</label>
    <input type="text" name="query" placeholder="Search the docs" class="search__input" id="searchInput">
    <div class="search__icons">
      <button type="submit" value="Search" class="search__icon-wrapper">
        <i class="search__submit fa fa-search" id="searchSubmit"></i>
      </button>
      <button class="search__icon-wrapper">
        <i class="search__reset fa fa-refresh" id="searchReset"></i>
      </button>
    </div>
  </div>
</form>
