.cta {

	// Homepage login cta
	&__login {
		@include breakpoint($bp-medium-portrait) {
			display: block;
		}
		display: none;
		max-width: 500px;
		background: #fff;
		padding: 32px 0;
		margin: 0 auto;
		margin-bottom: 48px;
		color: $base-font-color;
		@include cf;
		.column {
			@include col(1/1);
			&:last-of-type {
				border-left: 0px solid $probo-gray-medium;
			}
			@include breakpoint($bp-medium-portrait) {
				@include col(1/2);
				&:last-of-type {
					border-left: 1px solid $probo-gray-medium;
				}
			}
		}
	}
}