.slide-nav {
  position: fixed;
  right: 2%;
  top: 50%;
  margin-top: -100px;

  a {
    text-indent: -9999em;
    display: block;
    background-color: $probo-pale-medium;
    width: 1.5 * em($base-spacing);
    height: 1.5 * em($base-spacing);
    border-radius: 50%;
    border: 1px solid $probo-purple-darkest;
    margin-bottom: em($base-spacing) / 2;

    &.active {
      background-color: $probo-pink;
    }
  }
}