.search {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint($bp-small-landscape) {
      flex-wrap: nowrap;
    }

    label {
      @include visuallyhidden;
    }
  }

  &__submit {
    margin-top: $base-margin;

    @include breakpoint($bp-small-landscape) {
      margin-top: 0;
      margin-left: $base-margin;
    }
  }

  &__input {
    flex-basis: 75%;
  }

  &__results {
    margin: $base-margin * 2 0;
  }

  &__results-count {
    padding: $base-margin;
  }

  &__result {
    padding: $base-margin * 2 0;
    margin: 0 $base-margin;
    border-bottom: 1px solid $probo-gray-light;
    word-wrap: break-word;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__result-title {
    margin: 0;
  }

  &__result-link {
    @include rem(font-size, 14px);

    font-family: sans-serif;
    color: $probo-purple-dark;
    padding: 2px 0;
  }
}

// @TODO: add below to styleguide
.accordion-nav__item.search {
  text-indent: 0;

  label {
    @include visuallyhidden;
  }
}

.accordion-nav__search-input {
  width: 100%;
  height: 45px;
  border-radius: 0 !important;
}

.accordion-nav__search-submit {
  border-radius: 0;
  display: flex;
  justify-content: space-around;
  width: 40px;

  // @extend .accordion-nav__toggle-children;
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  z-index: 10;
  text-indent: 4px;
  text-align: center;

  i {
    top: -2px;
  }
}
