.search {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint($bp-small-landscape) {
      flex-wrap: nowrap;
    }
  }

  &__submit {
    margin-top: $base-margin;

    @include breakpoint($bp-small-landscape) {
      margin-top: 0;
      margin-left: $base-margin;
    }
  }

  &__input {
    flex-basis: 75%;
  }

  &__results {
    background: $probo-pale;
    margin: $base-margin * 2 0;
  }

  &__results-count {
    padding: $base-margin;
  }

  &__result {
    padding: $base-margin * 2 0;
    margin: 0 $base-margin;
    border-bottom: 1px solid $probo-gray-light;
    word-wrap: break-word;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__result-title {
    margin: 0;
  }

  &__result-link {
    font-family: sans-serif;
    color: $probo-purple-dark;
  }

  &__result-text {
    @include rem(font-size, 14px);
  }
}

.accordion-nav__item.search {
  text-indent: 0;
}

.accordion-nav__search-input {
  width: 100%;
  height: 45px;
  border-radius: 0 !important;
}

.accordion-nav__search-submit {
  border-style: none;

  // @extend .accordion-nav__toggle-children;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  // width: 45px;
  height: 45px;
  z-index: 10;
  background-color: $probo-purple-dark;
  text-indent: 4px;
  text-align: center;
  color: $probo-pale;

  &:hover {
    background-color: lighten($probo-purple-dark, 10%);
  }
}
