$ease: ease;
$duration: 400ms;

// Style for icon Plus/Minus
.plus-to-minus {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  transition: transform $ease $duration;
  margin-top:3px;
  &:before, &:after {
    content: '';
    position: absolute;
    background-color: $probo-tapestry;
    border-radius: 10px;
  }
  &:before {
    left: 30%;
    width: 4px;
    height: 15px;
    margin-left: 1.2px;

  }
  &:after {
    top: 60%;
    margin-top: -3px;
    height: 4px;
    width: 15px;
    transition: transform ease 400ms;
    right:.5px;
  }

}
.open .plus-to-minus{
  transform: rotate( -90deg );
  &:after {
    transform: rotate( -90deg );
  }
}
