.m-scene .scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
.m-scene.transiting .scene_element {
  animation-direction: alternate-reverse;
}
.m-scene .scene_element.scene_element--content {
  animation-name: content;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
