svg:not(:root) {
  overflow: hidden;
}

%visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.hidden {
  @extend %visuallyhidden;
}

%site-header {
  width: 100%;
  opacity: 1;
  transition: none !important;
  background: $probo-purple-dark;
  @include breakpoint($bp-medium) {
    opacity: .95;
  }
}

%simple-menu {
  position: absolute;
  right: 3px;
  top: 3px;
  display: block;
  z-index: 10000;
  height: 48px;
  width: 48px;
  padding: 12px 8px;
  @include breakpoint($bp-medium) {
    display: none;
    visibility: hidden;
    height: 0;
  }
}

%site-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  float: none;
  margin: 0 auto;
  line-height:$logo-line-height;
  @include breakpoint($bp-medium) {
    float: left;
  }
}

%nav-right {
  float: right;
  margin: auto;
  display: none;
  @include breakpoint($bp-medium) {
    display: block;
  }
}

%wrapper {
  margin: 0 auto;
  @include cf;
  @include breakpoint($bp-medium-landscape) {
    width: 95%;
  }
  @include breakpoint($bp-large) {
    max-width: $probo-sitewidth;
  }
}

%price-block {
  border: 1px solid #EBEBEB;
  margin-bottom: 12px;
  background: #f7f7f7;
  padding-bottom: 24px;
  h2 {
    padding: 12px 0;
    @include breakpoint($bp-small-landscape) {
      padding: 24px 0;
    }
    margin-bottom: 0;
  }
  .price {
    font-size: 32px;
    line-height: 1;
    font-weight: bold;
    padding-top: 12px;
    background-color: #fff;
  }
  .label {
    background-color: #fff;
    padding-bottom: 12px;
    border-bottom: 1px solid #EBEBEB;
  }
}

%check-list {
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style: none;
    border-bottom: 1px solid #EBEBEB;
    padding: 12px;
    i {
      color: #67c293;
    }
  }
  li:last-of-type {
    border-bottom: 0;
  }
}

%no-dangling {
  &:first-child, &:first-of-type {
    margin-top: 0;
  }
}

%pullquote {
  @include cf;
  border-radius: 12px;
  background-color: #EBEBEB;
  text-align: left;
  font-style: italic;
  padding: 24px;
  min-height: 200px;
}

%hide-text {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
