.u-hidden {
  @extend %visuallyhidden;
}

.right {
  @include breakpoint($bp-medium-landscape) {
    float: right;
    display: inline-block;
  }
}

img {
  max-width: 100%;

  &.full-width {
    width: auto;
  }

  &.drop-shadow {
    box-shadow: 0 5px 20px rgba(0,0,0,0.8);
  }

  &.screenshot {
    margin: $base-spacing 0;
    border: 1px solid $probo-pale-darker;
  }
}

.wrapper {
  @extend %wrapper;
}

.highlight{
  background: $probo-pale-medium;
  padding: .5rem 1rem;
}
